body, div, h1, h2, h3, h4, h5, h6, p, ul, li {
    font-family: Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

h5, ul.taglist > li {
    font-size: 1.2em;
}

input {
    padding: 0 0.3em;
}

.header {
    background: #34495E;
    color: #FFFFFF;
    margin-bottom: 1em;
    padding: 0.625em 1.25em 0.625em 1.25em;
}

h2.sitetitle {
    float: left;
}

.navbar {
    margin: 0;
    padding: 0.313em 1.25em 0.188em 0.625em;
}

.navbar li {
    display: inline;
    font-weight: bold;
    list-style-type: none;
    margin: 0;
    padding: 0.125em 0.625em 0.188em 0.625em;
    font-size: 100%;
}

.navbar li a, .navbar li a:visited {
    text-decoration: none;
    color: inherit;
}

.navbar li a:hover {
    color: #FF00FF;
}

.sidebar {
    float: left;
    margin-right: 1em;
    overflow: visible;
    width: 20%;
    font-size: 80%;
}

.searchform {
    margin-bottom: 1em;
}

.searchform input[type="text"] {
    width: 8.875em;
}

.searchform input[type="submit"] {
    margin-top: 0.188em;
    background: #FFFFFF;
    border: 1px solid #DADADA;
    width: 9.735em;
}

ul.taglist {
    list-style-type: none;
    margin: 0;
}

.namespace-artist {
    color: #FA2828;
}

.namespace-character {
    color: #28FA2B;
}

.namespace-general {
    color: #28B4FA;
}

.namespace-series {
    color: #E528FA;
}

.namespace-system {
    color: #FAC528;
}

.images {
    float: left;
    margin: 0;
    width: 77%;
}

.thumbnail {
    display: inline-block;
    float: left;
    height: 200px;
    width: 200px;
    margin: 0.125em;
    text-align: center;
    vertical-align: middle;
}

.thumbnail:hover {
    opacity: 0.5;
}

.thumbnail img {
    border: 1px solid #000000;
    margin: auto;
}