body, div, h1, h2, h3, h4, h5, h6, p, ul, li {
    font-family: Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

h5, ul.taglist > li {
    font-size: 1.2em;
}

input {
    padding: 0 4px;
}

.header {
    background: #34495E;
    color: #FFFFFF;
    margin-bottom: 1em;
    padding: 10px 20px 10px 20px;
    overflow: hidden;
}

h2.sitetitle {
    float: left;
    padding-right: 10px;
}

.navbar {
    margin: 0;
    float: left;
    padding: 5px 20px 3px 10px;
}

.navbar li, #contentlevel li {
    display: inline;
    font-weight: bold;
    list-style-type: none;
    margin: 0;
    padding: 2px 10px 3px 10px;
    font-size: 100%;
}

.navbar li a, .navbar li a:visited {
    text-decoration: none;
    color: inherit;
}

.navbar li a:hover {
    color: #FF00FF;
}

.sidebar {
    float: left;
    margin-right: 1em;
    overflow: visible;
    width: 20%;
    font-size: 80%;
}

.searchform {
    margin-bottom: 1em;
}

.searchform input[type="text"] {
    width: 142px;
}

.searchform input[type="submit"] {
    margin-top: 3px;
    background: #FFFFFF;
    border: 1px solid #DADADA;
    width: 155px;
}

ul.taglist {
    list-style-type: none;
    margin: 0;
}

.namespace-artist {
    color: #FA2828;
}

.namespace-character {
    color: #28FA2B;
}

.namespace-general {
    color: #28B4FA;
}

.namespace-series {
    color: #E528FA;
}

.namespace-system {
    color: #FAC528;
}

.images {
    float: left;
    margin: 0;
    width: 77%;
}

.thumbnail {
    display: inline-block;
    float: left;
    height: 200px;
    width: 200px;
    margin: 2px;
    padding: 0.5em;
    text-align: center;
    vertical-align: middle;
}

.thumbnail:hover {
    cursor: pointer;
    opacity: 0.5;
}

.thumbnail img {
    border: 1px solid #000000;
    margin: auto;
}

.resized {
    border: 2px solid #FF0000;
    width: 800px;
    height: 600px;
}

.content {
    padding: 0 20px 30px 20px;
}

.navright {
    margin: 0 -15px 0 0;
    padding: 5px 20px 3px 10px;
    float: right;
}

.navform-text {
    text-align: center;
    font-size: 80%;
}