{% extends "base.html" %}
{% block content %}
    <form method="post" action="{{ url_for('images.upload') }}" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <p>{{ form.image.label }}<br/>{{ form.image }}</p>
        <br/>

        <p>{{ form.contentlevel.label }}<br/>{{ form.contentlevel }}</p>
        <br/>

        <p>{{ form.tagfield.label }}<br/>{{ form.tagfield(cols="60", rows="2", tabindex="3") }}</p>

        <p class="explanation">Tags are expected to be in the format namespace:tag unless they are part of the general
            namespace. Tags are separated by spaces. (ex: character:konata_izumi blue_hair series:lucky_star)</p>
        <br/>
        <input type="submit" value="Upload Image">
    </form>
{% endblock %}