<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">
        <meta charset="utf-8">
        <title>{{ title }}</title>
    </head>
    <body>
        <div class="header">
            <h2 class="sitetitle">{{ config['SITENAME'] }}</h2>
            <ul class="navbar">
                <li><a href="{{ url_for('users.login') }}">Profile</a></li>
                <li><a href="{{ url_for('images.imageindex', page=1) }}">Images</a></li>
                <li>Tags</li>
                <li>Statistics</li>
                <li>About</li>
            </ul>
            {% if g.user.is_anonymous() %}
                <div class="navright">
                    <form method="post" action="{{ url_for('users.login') }}">
                        <input type="text" name="username" placeholder="username">
                        <input type="password" name="password" placeholder="password">
                        <input type="checkbox" name="remember_me" id="remember_me">
                        <label for="remember_me" class="navform-text">Remember?</label>
                        <input type="submit" value="Login">
                    </form>
                </div>
            {% else %}
                <div class="navright">
                    <button onclick="location.href='{{ url_for('users.logout') }}';">Logout</button>
                </div>
            {% endif %}
        </div>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul>
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        <div class="content">
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>